node_modules
npm-debug.log
yarn-error.log

vendor

.env
.env.backup
.phpunit.result.cache

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

public/build
public/hot

.git
.github

tests
